:root {
    --color-white: #fff;
}

html, body {
    padding: 0px;
    margin: 0px;
    background-color: #f7f7f7;
}

header {
    padding: 10px 20px;
    background-color: var(--color-white);
}

header > span {
    margin-right: 20px;
}

section {
    padding: 0px 20px;
}

/*BLOG CONTENT*/
.blog_content {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
